/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #333;
}

body {
  width: 90%;
  margin: 0 auto;
}

.top-heading {
  margin: 30px 0;
}

.top-body {
  margin: 30px 40px;
}

.index-heading {
  margin: 30px 0 10px 0;
}

.table {
  width: 800px;
}

.table-headings {
  display: flex;
  font-weight: bold;
}

.table-heading {
  text-align: center;
}

.table-heading:nth-child(1) {
  width: 25%;
}

.table-heading:nth-child(2) {
  width: 50%;
}

.table-heading:nth-child(3) {
  width: 25%;
}

.record {
  color: #333;
  display: flex;
}

.record-title {
  width: 25%;
}

.record-body {
  width: 50%;
}

.record-link {
  width: 25%;
}

.record-link a {
  margin-left: 10px;
}

.new {
  margin-top: 20px;
}

.show-title {
  margin: 30px;
}

.show-body {
  margin: 30px;
}

.edit-heading {
  margin-top: 30px;
}

.edit-submit {
  margin: 5px 0;
}